html {
  font-family: sans-serif;
}

body {
  background: #333;
}

a {
  color: #999;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}

.footer a:hover {
  color: #000;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}
